[Unit]
Description=GPIO Keys Control
Documentation=
After=hostapd.service

[Service]
ExecStart=/usr/local/bin/gpio_keys
Type=simple
NonBlocking=yes


[Install]
WantedBy=multi-user.target
